:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
/*
a {
  font-weight: bold;
  color: #5b5357;
  text-decoration: inherit;
}
a:hover {
  color: #ca54b7;
}
*/

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #c8bdbd;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h3 {
  margin-top: 0;
}
/*
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*/
button {
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 0.1em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  
}

button:hover {
  border-color: #5b5357;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 150px;
}
input {
  height: 15px;
  margin-bottom: 4px;
}
input:focus {
  border-color: #5b5357;
}
a {
  display: inline-block;
  padding: 4px;
  margin-bottom: 3px;
  color: #5b5357; 
  text-decoration: none;
  background-color: #f2f2f2; 
  border-radius: 4px;
  transition: background-color 0.25s, color 0.25s;
  width: 150px;
  font-weight: bold;
}
a:hover {
  background-color: #e0e0e0; 
  color: #949ce4;
}
#roomLists {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#existingRooms,
#createRoom {
  width: 48%; /* Each column takes up 48% of the roomLists width */
}

#existingRooms ul,
#createRoom ul {
  list-style: none;
  padding: 0;
}

#existingRooms ul li,
#createRoom ul li {
  margin-bottom: 5px;
  text-align: left;
  font-weight: bold;
}
#createRoom {
  text-align: left;
  margin-left: 30px;
  margin-right: 60px;
}
#chatSection {
  width: 400px;
  margin-top: 40px;
}
#chatSection ul {
  list-style: none;
  padding: 0;
}
#chatSectionInner {
  text-align: left;
  margin-left: 30px;
  margin-right: 60px;
}

.canvas {
  border: 1px solid black;
}

#butterflyCanvas {
  border: 1px solid black;
}