:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
/*
a {
  font-weight: bold;
  color: #5b5357;
  text-decoration: inherit;
}
a:hover {
  color: #ca54b7;
}
*/

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #c8bdbd;
}

.press-start {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}


h1 {
  font-family: "Press Start 2P";
  font-size: 3.2em;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  font-family: "Press Start 2P";
  background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h3 {
  margin-top: 0;
}
/*
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
*/
button {
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 0.1em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  
}

button:hover {
  border-color: #5b5357;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 150px;
}
input {
  height: 15px;
  margin-bottom: 4px;
}
input:focus {
  border-color: #5b5357;
}
a {
  display: inline-block;
  padding: 4px;
  margin-bottom: 3px;
  color: #5b5357; 
  text-decoration: none;
  background-color: #f2f2f2; 
  border-radius: 4px;
  transition: background-color 0.25s, color 0.25s;
  width: 150px;
  font-weight: bold;
}
a:hover {
  background-color: rgb(239, 221, 234); 
  color: #949ce4;
}
#roomLists {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#existingRooms,
#createRoom {
  width: 48%;
}

#existingRooms ul,
#createRoom ul {
  list-style: none;
  padding: 0;
}

#existingRooms ul li,
#createRoom ul li {
  margin-bottom: 5px;
  text-align: left;
  font-weight: bold;
}
#createRoom {
  text-align: left;
  margin-left: 30px;
  margin-right: 60px;
}
#chatSection {
  width: 400px;
  margin-top: 40px;
}
#chatSection ul {
  list-style: none;
  padding: 0;
}
#chatSectionInner {
  text-align: left;
  margin-left: 30px;
  margin-right: 60px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#chatCol1,
#chatCol2{
  width: 48%;
}


/*
.canvas {
  border: 1px solid black;
}

#canvasGrid {
  display: none;
}*/

canvas {
  display: none; 
}

#startBtn {
  appearance: none;
  background-color: #b8e6aa;
  border-style: none;
  box-shadow: #61d572 0 -12px 6px inset;
  box-sizing: border-box;
  color: #1e1e1e;
  cursor: pointer;
  display: inline-block;
  font-family: "Press Start 2P";
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  height: 35px;
  width: 100px;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#startBtn:hover {
  background-color: #94f894;
  box-shadow: #00c427 0 -6px 8px inset;
  transform: scale(1.1);
}

#startBtn:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  #startBtn {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}


